// global
// #toggle-mode-cb{
//     display: none;
// }
// .toggle-mood{
//     border-radius: 15px;
//     border: 1px solid #E4E7EC;
//     padding: 12px 20px;
//     @include flex;
//     margin-top: 10px;

//     label{
//         width: 70px;
//         height: 33px;
//         border-radius: 40px;
//         background: #E4E7EC;
//         position: relative;
//         cursor: pointer;
        
//         &:before {
//             content: '\e927';
//             font-family: 'icomoon';
//             width:28px;
//             height: calc(100% - 5px);
//             position: absolute;
//             left: 4px;
//             top:50%;
//             z-index: 10;
//             @include flex;
//             border-radius: 50%;
//             transform: translateY(-50%);
//             background: $primary-color;
//             color: #fff;
//         }
//         &:after {
//             content: '\e926';
//             font-family: 'icomoon';
//             width:28px;
//             height: calc(100% - 5px);
//             position: absolute;
//             right: 4px;
//             top:50%;
//             z-index: 10;
//             @include flex;
//             border-radius: 50%;
//             left: unset;
//             transform: translateY(-50%);
//             background: transparent;
//             color: $text-color-100;
//             font-size: 20px;
//         }
//     }
//     .light-text,
//     .dark-text{
//         font-size: 14px;
//         color: $text-color-200;
//         font-weight: 400;
//     }
//     .dark-text{
//         display: none;
//     }
// } 

.AZ-img-container{
    position: relative;
    overflow: hidden;
    display: block;
    &::after{
        content: '';
        display: block;
    }
}
.AZ-img-container-inner{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include flex;
}
.AZ-img-cover{
    img{
        width: 100%!important;
        height: 100%!important;
        object-fit: cover!important;
    }
}
.AZ-pagination{
    margin-top: 32px;
    .pagination{
        gap: 3px;
    }
    .page-link{
        font-size: 13px;
        color: $text-color-200;
        font-weight: 400;
        width: 32px;
        height: 32px;
        border-radius: 6px;
        border: 1px solid #E4E7EC;
        @include flex;
        transition: $transition;
        background: transparent;
    }
    .active{
        .page-link{
            background: $primary-color;
            color: #fff;
        }
    }
    .page-link:focus {
        box-shadow: none;
    }   
    .page-nav{
        path{
            // color: $primary-color;
            // font-size: 20px;
            fill:$primary-color!important
        }
    }
    // .page-item:last-child .page-link {
    //     border-top-right-radius: 6px;
    //     border-bottom-right-radius: 6px;
    // }
    // .page-item:first-child .page-link {
    //     border-top-left-radius: 6px;
    //     border-bottom-left-radius: 6px;
    // }
}
.AZ-group-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    input,
    textarea{
        font-size: 14px;
        color: $text-color-300;
        font-weight: 400;
        background: #ffffff;
        padding: 15px;
        border-radius: 12px;
        border: 0;
        flex-grow: 1;
        &::placeholder{
            color: $text-color-100;
        }
    }
}
.sidebar-fixed{
    position: sticky;
    top: 30px;
}
.AZ-box{
    padding: 24px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 8px 12px -8px rgba(79, 78, 84, 0.10);
}
.AZ-search-wrapper{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 8px 12px -8px rgba(79, 78, 84, 0.10);
    padding: 16px 24px;
    gap: 5px;
    margin-bottom: 32px;
    input{
        font-size: 16px;
        color: $text-color-300;
        font-weight: 400;
        background: transparent;
        flex-grow: 1;
        height: 100%;
        border: 0;
        &::placeholder{
            color: $text-color-100;
        }
    }
    button{
        border: 0;
        background: transparent;
        span{
            font-size: 22px;
            color: $text-color-100;
        }
    }
}
.AZ-post-card{
    border-bottom: 1px solid #E4E7EC;
    padding: 16px 0;
    &:last-child{
        border-bottom: 0;
    }
    .post-card-title{
        font-size: 24px;
        color: $text-color-400;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 600;
        transition: $transition;
        &:hover{
            color: $primary-color;
        }
    }
    .post-card-text{
        font-size: 13px;
        color: $text-color-200;
        font-weight: 400;
        margin: 8px 0;
    }

}
.no-posts-found{
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
}
.post-details{
    font-size: 12px;
    color: $text-color-200;
    font-weight: 400;
    span{
        font-size: 16px;
        color: $text-color-100;
    }
}
.post-details_tag{
    background: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    white-space: nowrap;
}
.AZ-box-title{
    font-size: 16px;
    color: $text-color-400;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    span{
        color: $primary-color;
        font-size: 22px;
    }
}
.AZ-section-title{
    font-size: 24px;
    color: $primary-color;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    padding-bottom: 16px;
    border-bottom: 1px solid #E4E7EC;
    margin-bottom: 16px;
    span{
        color: $primary-color;
        font-size: 30px;
    }
}
.AZ-tag-link{
    font-size: 13px;
    color: $text-color-300;
     font-weight: 400;
    border-radius: 36px;
    background: #FFF;
    box-shadow: 0px 8px 12px -8px rgba(79, 78, 84, 0.10);
    padding: 4px 12px;
    transition: $transition;
    &.active,
    &:hover{
        background: $primary-color;
        color: #fff;
        .tag-number{
            color: #FFF;
        }
    }   
}
.activeTag{
    .AZ-tag-link{
        background: $primary-color;
        color: #fff;
        .tag-number{
            color: #FFF;
        }
    }
}
.AZ-header{
    background: #FFF;
    box-shadow: 0px 8px 12px -8px rgba(79, 78, 84, 0.10);
    padding: 12px 0;
    height: 48px;
    position: relative;
    z-index: 1;
    .search-btn,
    .hamburger-menu{
        font-size: 22px;
        background: transparent;
        border: 0;
        padding: 0;
        @include flex;
    }
    .search-header{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        background: #ffffff;
        transition: $transition;
        opacity: 0;
        display: none;
        .search-header-container{
            border-bottom: 1px solid $light-bg-color;
        }
        input{
            font-size: 16px;
            color: $text-color-100;
            font-weight: 400;
            height: 100%;
            background: transparent;
            border: 0;
        }
        button{
            background: transparent;
            font-size: 22px;
            color: $text-color-100;
            border: 0;
        }
        .close-search-wrapper{
            color: #D83D32;
            font-size: 25px;
        }
        .AZ-tag-link{
            background: $light-bg-color;
        }
        .search-result{
            max-height: 300px;
            overflow-y: auto;
            li{
                border-bottom: 1px solid $light-bg-color;
                padding: 16px 0;
                &:last-child{
                    border-bottom: 0;
                }
            }
            .search-result-link{
                font-size: 13px;
                color: $text-color-400;
                font-weight: 400;
            }
        }
        &.show{
            // right: 0;
            opacity: 1;
            display: block;
        }
    }

    .header-name{
        font-size: 13px;
        color: $text-color-400;
        font-weight: 700; 
    }
}
.AZ-copyright{
    font-size: 12px;
    color: $text-color-100;
    font-weight: 400; 
    padding-top: 16px;
    border-top: 1px solid #E4E7EC;
}
.AZ-social{
    margin: 40px 0 16px 0;
    a{
        font-size: 22px;
        color: $text-color-200;
        transition: $transition;
        padding: 16px;
        path{
            transition: $transition;
            fill: $text-color-200!important;
        }
        &:hover{
            path{
                fill: $primary-color!important;
            }
        }
    }
    .email,
    .link{
        font-size: 25px;
    }
}
.AZ-primary-btn{
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
    background: $primary-color;
    border-radius: 8px;
    padding: 7px 20px;
    transition: $transition;
    @include flex;
    gap: 5px;
    &:hover{
        background: $primary-hover-color;
        color: #ffffff;
    }
}
// page
.AZ-page-section{
    padding: 32px 0 50px;
    min-height: 100vh;
}
.AZ-subscribe-page{

}
.subscribe-box{
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 8px 12px -8px rgba(79, 78, 84, 0.10);
    padding: 40px;

    .subscribe-title{
        font-size: 20px;
        font-weight: 600;
        font-family: "Space Grotesk", sans-serif;
        color: #000000;
        margin-bottom: 8px;
    }   
    .subscribe-field{
        input{
            font-size: 14px;
            color: $text-color-200;
            font-weight: 400;
            border-radius: 8px;
            background: $light-bg-color;
            padding: 16px;
            height: 48px;
            flex-grow: 1;
            border: 1px solid $light-bg-color;
            &:focus{
                border: 1px solid $primary-color;
            }
        }
        button{
            font-size:16px ;
            color: #fff;
            font-weight: 500;
            padding: 8px 25px;
            height: 48px;
            border-radius: 8px;
            background: $primary-color;
            border: 0;
            transition: $transition;
            &:hover{
                background: $primary-hover-color;
            }
        }
    }
    .AZ-copyright{
        border-top: 0;
        padding-top: 8px;
    }
}
.error-input{
    border: 1px solid red!important;
}
.AZ-tag-link{
    gap: 12px;
    cursor: pointer;
    .tag-number{
        font-size: 13px;
        color: $text-color-100; 
        font-weight: 400;
    }
}
.AZ-about-page{
    .line{
        margin:30px 0 24px 0;
        width: 100%;
        height: 1px;
        background: #E4E7EC;
    }
    .about-img{
        min-width: 159px;
        border-radius: 16px;
        position: relative;
        overflow: visible;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            opacity: 0.3;
            background: #1976D3;
            top: 8px;
            left: 8px;
        }
        &::after{
            padding-bottom: 100%;
        }
        img{
            border-radius: 16px;
        }
    }
    .about-title{
        font-size: 24px;
        color: $text-color-400;
        font-family: "Space Grotesk", sans-serif;
        line-height: 35px;
        font-weight: 600;
    }
    .about-text{
        font-size: 13px;
        color: $text-color-300;
        line-height: 18px;
        font-weight: 400;
    }
}
.AZ-sidebar-menu{
    .img-profile{
        width: 120px;
        // width: 88px;
        border-radius: 50%;
        margin-bottom: 14px;
        &::after{
            padding-bottom: 100%;
        }
    }
    .menu-title{
        font-size: 14px;
        padding-left: 20px;
        margin-bottom: 4px;
        font-family: "Space Grotesk", sans-serif;
        color: $text-color-100;
        font-weight: 600;
        margin-top: 24px;
        display: block;
    }
    .expertise{
        font-size: 14px;
        color: $text-color-200;
        font-weight: 400;
    }
    .name{
        font-size: 16px;
        color: $text-color-300;
        font-weight: 600;
        margin: 4px 0;
    }
    .profile-desc{
        font-size: 11px;
        // font-size: 12px;
        color: $text-color-100;
        font-weight: 400;
    }
    .nav-link {
        font-size: 16px;
        color: $text-color-200;
        font-weight: 400;
        border-radius: 12px;
        padding: 16px 12px 16px 20px;
        transition: $transition;
        position: relative;
        overflow: hidden;
        span{
            font-size: 20px;
        }
        path{
            transition: $transition;
        }
        .arrow-menu{
            position: absolute;
            top: 50%;
            right: -30px;
            transform: translateY(-50%);
            transition: $transition;
        }
        &.active{
            color: #fff;
            background: $primary-color;
            path{
                fill: #ffffff!important;
            }
            &:hover{
                color: #fff;
                path{
                    fill: #ffffff!important;
                }
            }
            .arrow-menu{
                right: 12px;
            }
        }
        &:hover{
            color: $primary-color;
            path{
                fill: $primary-color!important;
            }
            .arrow-menu{
                right: 12px;
            }
        }
    }
    .book-img{
        width: 100%;
        border-radius: 8px;
        margin-bottom: 10px;
        &::after{
            padding-bottom: 60%;
        }
        img{
            object-fit: unset!important;
        }
    }
    .book-name{
        font-size: 16px;
        color: $text-color-300;
        font-weight: 700;
    }
    .book-desc{
        font-size: 12px;
        color: $text-color-100;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .see-book-btn{
        margin-bottom: 24px;
    }
    .list-book-specifications{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        li{
            list-style-type: disc;
            a{
                font-size: 11px;
                // font-size: 13px;
                color: $text-color-200;
                font-weight: 400;
                transition: $transition;
                &:hover{
                    color: $primary-color;
                }
            }
        }
    }
}
// 404
.AZ-404-page{

}
.box-404{
    border-radius: 16px;
    border: 2px dashed #E4E7EC;
    margin-bottom: 32px;
    padding: 26px;
    // svg path{
    //     fill: $primary-color!important;
    // }
    .box-404-title{
        font-size: 24px;
        color: $text-color-400;
        font-weight: 700;
        font-family: "Space Grotesk", sans-serif;
        margin-top: 8px;
    }
}
// archive
.AZ-archive-page{
    
}
.history{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 99%;
        width: 1px;
        background: #E4E7EC;
        // z-index: -1;
    }
    .history-list{
        padding-left: 38px;
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
        li{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                right: calc(100% + 5px);
                top: 50%;
                height: 1px;
                width: 24px;
                background: #E4E7EC;
                transform: translateY(-50%);
            }
        }
    }
    .history-list_link{
        font-size: 12px;
        color: $text-color-400;
        font-weight: 400;
        transition: $transition;
        &:hover{
            color: $primary-color;
        }
    }
    .history-list_number{
        font-size: 13px;
        color: $text-color-200;
        border-radius: 4px;
        background: #FFF;
        min-width: 40px;
        box-shadow: 0px 8px 12px -8px rgba(79, 78, 84, 0.10);
        @include flex;
    }
    .circle{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $primary-color;
        box-shadow: 0px 5px 4px rgba(111, 73, 232, 0.30);
        @include flex;
        position: relative;
        z-index: 1;
        .circle-inner{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #ffffff;
        }
    }
    .line{
        flex-grow: 2;
        margin: 0 8px;
        height: 1px;
        background: #E4E7EC;
    }
    .history-title{
        font-size: 20px;
        color: $text-color-400;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 600;
    }
    .history-number{
        font-size: 13px;
        color: $text-color-100;
        font-weight: 400;
        span{
            font-size: 16px;
        }
    }
}
// post
.AZ-post-page{
    .feedback-link{
        font-size: 13px;
        color: $primary-color;
        font-weight: 500;
        span{
            margin-bottom: 0;
            color: $primary-color;
            font-size: 16px;
        }
    }
    .post-title{
        font-size: 36px;
        color: $primary-color;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 600;
        margin-bottom: 12px;
        margin-bottom: 12px;
    }
    .suggestion-study-box{
        border-radius: 12px;
        background:  #FFF;
        padding: 12px;
        margin: 24px 0;
        gap: 12px;
        .suggestion-study-img{
            width: 128px;
            border-radius: 8px;
            &::after{
                padding-bottom: 80%;
            }
        }
        .suggestion-study-desc{
            font-size: 12px;
            color: $text-color-100;
            font-weight: 400;
        }
        .suggestion-study-title{
            font-size: 24px;
            color: $text-color-300;
            font-family: "Space Grotesk", sans-serif;
            font-weight: 600;
            margin-top: 0;
        }
        .post-details{
            font-size: 12px;
           
        }
    }
    .post-details{
        span{
            margin-bottom: 0;
        }
    }

    .send-comment{
        margin-top: 24px;
    }
    .comments{
        margin-top: 32px;
    }
    .comment-title{
        font-size: 22px;
        color: $text-color-400;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 700;
        margin-bottom: 16px;
    }
    .comment-box{
        border-radius: 12px;
        background: #FFF;
        padding: 16px;
        margin-bottom: 12px;
        .comment-text{
            font-size: 13px;
            color: $text-color-300;
            font-weight: 400;
        }
    }
    .comment-box-reply{
        background: $light-bg-color;
        margin-bottom: 0;
        margin-top: 8px;
    }
    .comment-btn{
        font-size: 16px;
        padding: 15px 30px;
        span{
            font-size: 20px;
        }
    }
    .definition-box{
        padding: 24px 0;
        border-top: 1px solid #E4E7EC;
        border-bottom: 1px solid #E4E7EC;
        margin: 24px 0;
        .definition-box-title{
            font-size: 20px;
            color: $text-color-300;
            font-family: "Space Grotesk", sans-serif;
            font-weight: 600;
            margin-bottom: 5px;
        }
        p,span,a{
            font-size: 13px;
            color: $text-color-200;
            font-weight: 400;
            line-height: 20px;
        }
        a{
            color: $primary-color;
        }
    }
    .summary-text{
        font-size: 16px;
        color: $text-color-200;
        font-weight: 400;
    }
    .summary-title{
        font-size: 16px;
        color: $text-color-300;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 700;
    }

    .headline{
        border-bottom: 1px solid #E4E7EC;
        padding-bottom: 24px;
        margin-bottom: 24px;

        .scroll-nav-list{
            border-left: 1px solid #E4E7EC;
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin: 10px 0;
        }
        .nav-link{
            font-size: 12px;
            color: $text-color-200;
            font-weight: 400;
            padding: 0;
            padding-left: 16px;
            transition: $transition;
            &::after{
                content: '';
                position: absolute;
                background-origin: 0;
                left: 0;
                bottom: 0;
                transform: translateX(-50%);
                width: 1px;
                height: 100%;
                border-radius: 1px 1px 0px 0px;
            }
            &:hover{
                color: $primary-color;
            }
            &.active{
                color: $primary-color;
                background: transparent;
                &::after{
                    background: $primary-color;
                }
            }
        }
        .nav-item{
            position: relative;  
        }
        .show-more{
            font-size: 12px;
            color: $primary-color;
            font-weight: 500;
            padding: 8px 16px 0;
        }
    }
    .table-container{
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.12);
        margin: 24px 0;

        th {
            color: $text-color-200; 
            font-size: 12px; 
            font-weight: 400; 
            word-wrap: break-word;
            font-family: sans-serif;
            padding: 10px 24px;
           
        }
        td {
            padding: 10px 24px;
            p,span{
                font-size: 13px;
                color: $text-color-300;
                font-weight: 400;
                display: inline;
            }
            span{
                background: #ffffff;
                padding: 2px 4px;
                border-radius: 2px;
            }
        }
        tr {
            border-top: 1px solid rgba(0, 0, 0, 0.12);
            
        }
        tr:first-child td:first-child{
            border-top-left-radius: 10px;
          }
          tr:last-child td:first-child{
            border-bottom-left-radius: 10px;
          }
          tr:first-child td:last-child{
            border-top-right-radius: 10px;
          }
          tr:last-child td:last-child{
            border-bottom-right-radius: 10px;
          }
    }
}
article{
    h1{
        font-size: 40px;
        color: $primary-color;
        font-weight: 600;
        margin-bottom: 12px;
    }
    h2{
        font-size: 32px;
        color: $text-color-400;
        font-weight: 600;
        margin-bottom: 12px;
        margin-top: 24px;
    }
    h3{
        font-size: 28px;
        color: $text-color-400;
        font-weight: 600;
        margin-bottom: 12px;
        margin-top: 24px;
    }
    h4{
        font-size: 24px;
        color: $text-color-300;
        font-weight: 600;
        margin-bottom: 12px;
        margin-top: 24px;
    }
    p{
        font-size: 16px;
        color: $text-color-200;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 12px;
        a{
            color: $primary-color;
        }
    }
    a{
        color: $primary-color;
    }
    span{
        font-size: 12px;
        color: $text-color-100;
        line-height: 17px;
        font-weight: 400;
        margin-bottom: 12px;
    }
    img{
        border-radius: 12px;
        width: 100%;
        margin-bottom: 12px;
    }
    ul{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 12px;
        li{
            font-size: 16px;
            color: $text-color-300;
            font-weight: 400;
            list-style-type: disc;
        }
        span{
            border-radius: 4px;
            background: #FFF;
            padding: 0 4px;
            font-size: 16px;
            margin-bottom: 0;
            display: inline-block;
            color: $text-color-300;
        }
    }
}
pre{
    counter-reset:line-numbering;
    background:#ffffff;
    padding: 20px;
    width:100%;
    color: $text-color-100;
    border-radius: 15px;
    position: relative;

    .line::before {
        content: counter(line-numbering);
        counter-increment: line-numbering;
        padding-right: 1em;
        padding-left:8px;
        width: 1.5em;
        text-align: right;
        opacity: 0.5;
        color:#7b7b7c;
    }
    span{
        font-size: 14px;
        line-height: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }
}
pre{
    position: relative;
    overflow: auto;
    margin: 5px 0;
    padding: 1.75rem 0 1.75rem 1rem;
    border-radius: 10px;
}
pre button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    padding: 0 4px;
    background-color: #bcbabb;
    font-weight: 400;
    border: 0;
    font-family: 'Rubik', sans-serif;
    border-radius: 5px;
}
pre button:hover {
    cursor: pointer;
    background-color: #bcbabb;
}
main {
    display: grid;
    max-width: 600px;
    margin: 20px auto;
}